@page
@model CreateModel

<h1>Create Rent</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Rent.RentDate"></label>
        <input asp-for="Rent.RentDate" class="form-control" />
        <span asp-validation-for="Rent.RentDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="Index">Back to List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
